p {
    font-size: 18;
    font-style: italic;
    font-display: 18;
    color: lightcyan;
}

ol {
    font-size: 18;
    color: rgb(17, 1, 32);
}

h1 {
    color: lightcyan
}

u {
    font-size: 18;
    color: rgb(23, 4, 131);
}

dl {
    font-size: 20px;
    color: lightcyan;
    font-size: medium;
}

div {
    width: 100%;
    background-color: darkgoldenrod
}

details {
    color: lightcyan;
}

body {
    color: lavenderblush;
}

h3 {
    color: darkblue;
    font-weight: 100;
    font-style: italic;
}

a {
    font-size: large;
    color: black;
}

dt {
    color: black;
}