p {
    font-size: 18;
    color: blueviolet;
}

ol {
    font-size: 18;
    color: brown;
}

h1 {
    background-color: lightblue;
    color: rgb(76, 0, 255);
}

u {
    font-size: 18;
    color: rgb(23, 4, 131);
}

dl {
    font-size: 20px;
    text-decoration: underline;
    color: rgb(58, 1, 1);
}

div {
    width: 100%;
    background-color: lightgray;
}