p {
    font-size: 18;
    color: rgb(226, 43, 43);
}

ol {
    font-size: 18;
    color: rgb(26, 4, 48);
}

h1 {
    color: rgb(76, 0, 255);
}

u {
    font-size: 18;
    color: rgb(23, 4, 131);
}

dl {
    font-size: 20px;
    color: rgb(58, 1, 1);
}

div {
    width: 100%;
    background-color: lemonchiffon;
}

details {
    color: chocolate;
}

body {
    color: rgb(5, 83, 83);
}